
.site-main-wrapper{
    position: relative;
}
.humberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.humberger img{
    width: 25px;
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height:60vh;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}
.open{
    transform: translateX(0);
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.times img{
    width: 20px;
}

.mobile-nav ul{
    list-style-type: none;
}
.mobile-nav ul li a{
    text-decoration: none;
    color: var(--secondary);
    font-size: 26px;
  
}

.mobile-nav ul li{
    margin-bottom: 8px;
}




@media(min-width:1200){
    .container{
        max-width: 1152px
    }
   
}


@media(min-width:992){
    .container{
        max-width: 960px;
    }
   
}


@media(min-width:768){
    .container{
        max-width: 728px;
    }
   
}




@media(min-width:576){
    .container{
        max-width: 540px;
    }
   
}

/* responsive css */

@media(max-width:1024px){
    header #main-nav{
        display: none;

    }
    .humberger{
        display: block;
    }

    .hero .left img {
        width: 250px;
    }

    .hero .right h1 {
        font-size: 2rem;      
    }

    .hero {
        padding-top: 10rem;
    }

    header {
      
        clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 89%, 0 100%);
    }

    section.about .about-me-img {
        height: 360px;
    }

    section.service .card-wrapper {
       
        grid-template-columns: repeat(2, 1fr);
       
    }
    section.work .card-wrapper {
        
        grid-template-columns: repeat(2,1fr);
        
    }

    section.blog .card-wrapper {
       
        grid-template-columns: repeat(1, 1fr);
        
    }

    section.blog {
      
        clip-path: polygon(0 0, 100% 0, 100% 100%, 66% 95%, 0 100%);
        
    }





}

@media screen and (max-width:768px){

    .hero{
        flex-direction: column;
    }
    header {
      
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 95%, 0 100%);
    }

    .hero .right{
        position: absolute;
        top: 260px;
        padding: 0 1rem;
        padding-bottom: 50px;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    }

    .hero .left {
        margin-top: -5rem;
        margin-right: -9rem;
        padding-bottom: 4rem;
    }

    .about-inner-wrap{
        flex-direction: column;
    }

    .about-right{
        text-align: center;
        margin-top: 2rem;
    }

    section.about .social {
        justify-content: center;
    }
    section{
        padding: 3rem 0;
    }

    section.service .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    section.freelancer {
        
        clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 91%, 0 100%);
        padding-bottom: 100px;
    }
    section.reviews .clients-slider .slide {
        padding: 0px;
    }
    .section-paragraph {
        margin-bottom: 5rem;
    }

    section.blog {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 66% 96%, 0 100%);
    }

    section.work .card-wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .card-wrapper {
        
        grid-template-columns: repeat(1, 1fr);
       
    }

    section.contact .input-wrap {
       
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 4px;
       
    }


}

 @media screen and (max-width:576px){
    .hero .left img {
        width: 100%;
        max-width:250px
    }
    .hero .left {
        margin-top: -5rem;
        margin-right: -2rem;
        padding-bottom: 4rem;
    }
    .section-paragraph {
        margin-bottom: 6rem;
    }
    .section-heading {
       
        margin-bottom: 28px;
        
    }
   

  

} 
@media screen and (max-width:376px){
    .hero {
        padding-bottom: 10rem;
    }

}